
/* ----------------------------- RESET CSS ------------------------------------ */ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,400&display=swap');

body {
    background-image: url("assets/bg-1.jpg");
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#title {
    text-align: center;
    margin: 50px;
}

#italic {
    font-style: italic;
}

span {
	font-weight: bold;
	font-size: 17px;
	
}

label {
    display: block;
}

form {
	background: rgba(0, 0, 0, .7);
	padding: 30px;
	border-radius: 20px;
	width: 800px;
	min-width: 500px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

fieldset {
	border: none;
	margin: auto;
}

#dados-user, #role-recommend, #improve-feature {
	width: 90%;
	padding: 10px;
}

.input {
	width:80%;
	padding: 5px;
	margin: 10px 0;
}

.input-age {
	width: 40%;
	padding: 5px;
	margin: 10px 0;
}

#current-role {
	width: 40%;
	padding: 5px;
}

#recommend {
	padding-top: 10px;
}

#recommend label {
	margin: 5px;
}

#checkbox label {
	padding: 5px 0;
}

textarea {
	width: 600px;
	height: 100px;
}

#submit-button {
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
}